*.iml
target/
.idea
data
logs
*.log
src/main/resources/conf/remote.properties
src/main/resources/conf/database.properties
src/main/resources/conf/database.properties.online
src/main/java/com/dict/util/OImageConfig.java
src/main/java/com/dict/util/OImageUploader.java
